:root {
    --main-text-color: #212121;
    --hover-text-color: #2196f3;
    --hero-text-color: #fff;
    --second-text-color: #757575;
    --btn-bkground-v1: #2196f3;
    --btn-bkground-v2: #f5f4fa;
    --background-color: #2f303a;
  }
  